- extends 'base.jade'


- block content

	h1= view.page_title

	section.source-list
		ul
			- for source in object_list
				li.source
					{{ source }}
					a(href="{% url 'sources:sync' pk=source.pk %}") Sync

	section.add-source
		p
			a(href="{% url 'sources:create' %}") Add a source
