# Python cache/byte-compiled files
*.pyc
__pycache__/

# Environment-specific files
/.env
/db.sqlite3
/dump.rdb

# Cache stuff
.cache/

# Media and compiled static files
/.public/

# 3rd-party assets
/frontend/bower_components/
