- extends 'base.jade'


- block content

	h1.page-title= view.page_title

	section.log-entries
		- for entry in object_list
			- include '_widgets/log_entry.jade'

	section.log-add
		- for form in creation_forms
			- include '_widgets/log_entry_form.jade'

