- load pipeline


!!! 5
html
	head
		title
			= view.page_title
			|  - Log Freak

		//- Styles
		- block styles
			- stylesheet '3rd-party'

	body
	- block whole_body

		header
			- block header
				section.auth-menu
					- include '_widgets/auth-menu.jade'

		//- User messages
		- block messages
			- if messages
				ul.messages
					- for message in messages
						li(class='{{ message.tags }}')= message

		- block page_title
			h1.page-title= view.page_title

		//- Page content
		- block content
			p Empty page.

		//- Scripts
		- block scripts
			- javascript '3rd-party'
