- load pipeline


!!! 5
html
	head
		title
			= view.page_title
			|  - Log Freak

		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		//- Styles
		- block styles
			- stylesheet '3rd-party'
			- stylesheet 'main'

	body
	- block whole_body

		//- User messages
		- block messages
			- if messages
				ul.messages
					- for message in messages
						li(class='{{ message.tags }}')= message

		//- Page content
		- block content
			p Empty page.

		//- Scripts
		- block scripts
			- javascript '3rd-party'
