- extends 'base.jade'


- block content

	form#auth_login(method='post')
		h1 Log in

		- csrf_token

		{{ form.non_field_errors }}

		div.fields
			- for field in form
				- include '_widgets/form_field.jade'

		div.submit_line
			button(type='submit') Log in
